<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table id="users">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Labs</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name%></td>
        <td><%= user.last_name%></td>
        <td><%= user.email%></td>
        <td>привет</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New user", new_user_path %>